<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Corto en el suministro de agua</ion-card-subtitle>
      <ion-card-title>Se va el agua los dias 15,16,17 de Septiembre</ion-card-title>
      <img src="assets/corte-agua.jpg">
    </ion-card-header>
  
    <ion-card-content>
      Debido a mantenimiento de EPM se ira el agua los dias 15,16,17 de Septiembre.
      Por favor guardar agua para estos dias, recuerde que los bloques tienen reserva de agua solo para unas horas
      
    </ion-card-content>
  </ion-card>
  


</ion-content>
