<ion-header>
  <ion-toolbar>
    <ion-title>Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  El canon de administracion de la unidad reserva del parque es de 274.000
</p>
<ion-item>
  <ion-badge slot="start" color="light">Estado</ion-badge>
  <ion-label>
   
    <h2>Meses</h2>
  </ion-label>
  
  <ion-item lines="none">
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Pagar todos</ion-label>
  </ion-item>
</ion-item>

<ion-accordion-group [multiple]="true" [value]="['sep']">
  <ion-accordion value="enero">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Enero</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="febrero">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Febrero</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="marzo">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Marzo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="abril">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Abril</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="mayo">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Mayo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="junio">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Junio</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="julio">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Julio</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="agosto">
    <ion-item slot="header" color="light">
      <ion-badge slot="start">Pagado</ion-badge>
      <ion-label>Agosto</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Pagado en Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>
    </div>
  </ion-accordion>
  <ion-accordion value="sep">
    <ion-item slot="header" color="light">
      <ion-badge slot="start" color="danger">Pendiente</ion-badge>
      <ion-label>Septiembre</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>

      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Pagar</ion-label>
      </ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="oct">
    <ion-item slot="header" color="light">
      <ion-badge slot="start" color="danger">Pendiente</ion-badge>
      <ion-label>Octubre</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>

      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Pagar</ion-label>
      </ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="nov">
    <ion-item slot="header" color="light">
      <ion-badge slot="start" color="danger">Pendiente</ion-badge>
      <ion-label>Noviembre</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-chip color="primary">Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>

      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Pagar</ion-label>
      </ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="dic">
    <ion-item slot="header" color="light">
      <ion-badge slot="start" color="danger">Pendiente</ion-badge>
      <ion-label>Diciembre</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      
      <ion-chip color="primary">Fecha: 01/30/2022</ion-chip>
      <ion-chip>Valor: 274.000</ion-chip>

      <ion-item lines="none">
        <ion-checkbox (ionChange)="calculateTotal($event)"slot="start"></ion-checkbox>
        <ion-label>Pagar</ion-label>
      </ion-item>
    </div>
  </ion-accordion>
</ion-accordion-group>

<p>
  <ion-button shape="round">Pagar</ion-button>
  Total: {{ totalToPay }}
</p>


</ion-content>
