<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!--ion-tab-button tab="new">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button-->

    <ion-tab-button tab="pay">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Pagos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="post">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Cartelera</ion-label>
    </ion-tab-button>

    <!--ion-tab-button tab="settings">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button-->

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
