<ion-header>
  <ion-toolbar>
    <ion-title>Cartelera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label>Publica algo</ion-label>
    <ion-textarea placeholder="Escribe tu contenido..."></ion-textarea>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nuevo Negocio</ion-card-subtitle>
      <ion-card-title>Emprendimiento</ion-card-title>
      <img src="assets/photo.jpg">
    </ion-card-header>
  
    <ion-card-content>
      Hola todos estoy emprendiendo con un nuevo negocio de pasteles de pollo, 
      hago domicilios gratis aqui en la unidad.

      Me pueden contactar al numero 3197614377
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alquilo parqueadero</ion-card-subtitle>
      <ion-card-title>Alquiler</ion-card-title>
      <img src="assets/parqueadero-cubierto.jpg">
    </ion-card-header>
  
    <ion-card-content>
      Alquilo parqueadero en 250.000 negociable
      Me pueden contactar al numero 3197614377
    </ion-card-content>
  </ion-card>

</ion-content>
